#carousel{
    /*设置轮播图展示区的大小颜色*/
    width: 945px;
    height: 617px;
    margin: 10px auto;
    background-color: royalblue;
    padding: 20px 0;
    /*设置定位成为ul父元素*/
    position: relative;
    /*裁剪溢出轮播图展示区的图片内容*/
    overflow: hidden;
}

#imgList {
    /* 不再显示默认的标号 */
    list-style: none;
    position: absolute;
}

#imgList li {
    /* 这个属性将 <li> 元素向左浮动。浮动元素会脱离常规文档流，允许其他元素（比如文本）环绕它。这通常用于创建多列布局。 */
    float: left;
    margin: 0 10px;
    width: 925px;
    height: 617px;
}

#imgList li img {
    width: 100%;
    height: 100%;
}

#handler {
    /* 设置a标签的位置 */
    position: absolute;
    /* 距离父元素底部40px */
    bottom: 40px;
}  

#handler a{
    float: left;
    width: 20px;
    height: 20px;
    background-color: gray;
    /* 60%不透明 */
    opacity: 0.6;
    margin: 0 10px;
}

#handler a:hover {
    background-color: aquamarine;
}













