/* 通配符选择器 */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 弹性布局 */
    /*布局详解 -- https://zhuanlan.zhihu.com/p/648802811 */
    display: flex;
    /* 定义main axis的方向 沿块向从页面上侧延伸到下侧*/
    /* 交叉轴默认就为横向 */
    flex-direction: column;
    /* 设置在主轴的对齐方向 */
    justify-content: center;
    /* justify-content: space-between; */
    /* 交叉轴的对齐方向 */
    align-items: center;

    height: 100vh;
    /* background: url(./img/loginBg1.png) no-repeat; */
    background-image: url(./img/1.png);
    /* background-image: url(./img/bg-2.png); */
    /* 确保完全覆盖，多出部分被裁切 */
    /* background-size: cover; */
    background-color: #efefef;
}

.box {
    /* 定义元素圆角 */
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/border-radius */
    /* 设置圆角长度为20px */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    /* width: 50vh;    */
    height: 380px;
    /* height: 45vh; */
    /* rgba还可以设置不透明度0.5 */
    border-top: 1px solid rgba(200, 200, 200, 0.5);
    border-left: 1px solid rgba(200, 200, 200, 0.5);
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    border-right: 1px solid rgba(200, 200, 200, 0.2);
    background-color: rgba(230, 230, 230, 0.5);
    /* backdrop-filter 为一个元素后面区域添加图形效果（如模糊或颜色偏移）为了看到效果，必须使元素或其背景至少部分透明。 */
    /* backdrop-filter: blur(10px); */
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

/* 子元素选择器，只选择相邻一级的子元素 */
.box > h1 {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
    text-shadow: 0 2px 4px #9196a1;
    /* text-shadow: 0 5px 5px #51a0d0; */
    font-size: 50px;
}

/* 后代选择器，选择box的所有后代 */
.box .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 定义在横向，元素从左边开始对齐 */
    align-items: start;
    /* 定义组件到下一元素的距离 */
    margin-bottom: 10px;
}

.box .input-box > label {
    margin-bottom: 5px;
    /* color: rgba(255, 255, 255, 0.9); */
    color: rgba(100, 100, 100, 0.9);
    font-size: 13px;
}

/* 设置账户密码输入框中的透明 */
.box .input-box > input {
    /* 确保在计算宽高时，将要将边框和内边距算入 */
    box-sizing: border-box;
    font-size: 14px;
    height: 35px;
    width: 250px;
    /* color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5); */

    color: rgba(150, 150, 150, 0.9);
    background: rgba(200, 200, 200, 0.9);
    border: 1px solid rgba(200, 200, 200, 0.5); 

    border-radius: 5px;

    /* 指定 HTML 元素从一种状态到另一种状态所需要的过渡时间 */
    transition: 0.2s;
    /* 清除掉了焦点轮廓 */
    outline: none;
    /* 用于设置内边距，语句表示顶底没有内边距，左右两侧有10px */
    padding: 0 10px;
    /* 设置字符边距 */
    letter-spacing: 1px;
}

/* 设置box的所有后代的input-box的一级子代input获得焦点时的行为 */
.box .input-box > input:focus {
    /* 设置获得焦点后的边框颜色变化 */
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(200, 200, 200, 0.8);
}



.box .btn-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.box .btn-box > a {
    font-size: 14px;
    /* 去除连接下划线 */
    text-decoration: none;
    color: rgba(0, 123, 255, 0.7);
    transition: 0.2s;
    width: 250px;
    text-align: end;
}

/* 定义链接悬浮时的变化 */
.box .btn-box > a:hover {
    color: rgba(0, 123, 255, 0.9);
}

.box .btn-box > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* 按钮在垂直方向为统一贴在上边缘 */
    align-items: start;
}

.box .btn-box > div > button {
    width: 120px;
    height: 35px;
    border: 1px solid rgba(0, 123, 255, 0.8);
    background: rgba(0, 123, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

/* 第二个button */
.box .btn-box > div > button:nth-of-type(2) {
    margin-left: 10px;
}

.box .btn-box > div > button:hover {
    border: 1px solid rgba(13, 95, 183, 0.8);
    background: rgba(13, 95, 183, 0.8);
}

.index-footer {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    position: absolute;
    bottom: 0;
    width: 100%;

    color: #fff;
    font-size: 12px;
    line-height: 21px;
    padding-bottom: 0px;
    text-align: center;

    /* text-shadow 用于为文本添加阴影效果。这个属性可以创建出色的视觉效果，使文本看起来更加突出或具有深度。
    text-shadow: h-shadow v-shadow blur-radius color;
    h-shadow：必需。水平阴影的距离。允许负值。
    v-shadow：必需。垂直阴影的距离。允许负值。
    blur-radius：可选。模糊距离。
    color：可选。阴影的颜色。 */
    text-shadow: 0 1px 2px #9196a1;
}

.index-footer > a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
    width: 250px;
    text-align: end;
}

.index-footer > a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.index-footer p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}